.cover{
    max-width: 400px;
    height: 200px;
    margin-left: 170px;
    margin-top: 100px;
}

.cover h1{
    font-size: 30px;
}

.cover p{
    font-size: 20px;
}


.business{
    margin-left: 700px;
    margin-top: -200px;
}

.business img{
    width: 400px;
    height: 400px;
}


@media (max-width:768px){
    body{
        overflow: hidden;
    }

    .logo{
        margin-left: 25px;
    }

    .boton{
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        transition: 0.2s 0.1s;
        -webkit-transition: 0.2s 0.1s;
        -moz-transition: 0.2s 0.1s;
        -ms-transition: 0.2s 0.1s;
        -o-transition: 0.2s 0.1s;
    }

    .boton:hover{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }
    
    .enlaces-menu li{
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .cover{
        width: 250px;
        height: 120px;
        margin-left: 30px;
        margin-top: -10px;
    }

    .cover h1{
        font-size: 25px;
    }

    .cover p{
        font-size: 18px;
    }

    .business{
        width: 200px;
        height: 200px;
        margin-left: 300px;
    }

    .business img{
        margin-top: 60px;
    }
}

@keyframes muestraMenu {
    from{opacity:0;}
    to{opacity:1;}
}

.enlaces-menu.activado{
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
    -webkit-animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
    -webkit-transform: rotate(-45deg) translate(-10px, 8px);
    -moz-transform: rotate(-45deg) translate(-10px, 8px);
    -ms-transform: rotate(-45deg) translate(-10px, 8px);
    -o-transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado{
    opacity: 0;
}

.br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
    -webkit-transform: rotate(45deg) translate(-10px, -8px);
    -moz-transform: rotate(45deg) translate(-10px, -8px);
    -ms-transform: rotate(45deg) translate(-10px, -8px);
    -o-transform: rotate(45deg) translate(-10px, -8px);
}